<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>File Share</title>
    </head>
    <body>
        <header>
            <h1 style="text-align: center;"><a href="/" class="title" style="text-decoration: none;">File Pass</a></h1>
        </header>
        <% if(locals.error) { %>
        <div style="color: red; margin-bottom: 1rem;">
            Incorrect Password
        </div>
        <% } %>

        <form
            method="post"
            class="passwordPageForm"
        >
            <label for="password" class="passwordLabel">Password: </label>
            <input type="password" id="password" name="password" class="passwordInput" required />
            <button class="btn" type="submit">
                <strong>DOWNLOAD</strong>
                <div id="container-stars">
                  <div id="stars"></div>
                </div>
              
                <div id="glow">
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
            </button>   
        </form>
    </body>
</html>
